fastapi
uvicorn
python-dotenv
pydantic
sqlalchemy
psycopg2-binary
supabase
firebase-admin
transformers
torch
openai
requests
python-multipart
aiofiles
pillow
pypdf2
langchain
faiss-cpu
numpy
pandas
scikit-learn
sqlmodel
telethon
groq
huggingface-hub
pgvector
passlib
llama_index.llms.groq
boto3
